<div class="wrapModal" id="wrapModalMetodoPago">
    <div class="backgroundModal"></div>
    <div class="modal">
        <div class="header">
            <div class="title">
                <p>PAGAR</p>
                <button (click)="openModal()">
                    <img src="assets/icons/cerrar.png">
                </button>
            </div>
        </div>
        <div class="body ">
            <app-credit-card-form></app-credit-card-form>
        </div>
        <div class="footer">
            <div class="buttons">
                <!-- <button class="add" (click)="addRegister()" >ACEPTAR</button> -->
                <button class="cancel" (click)="openModal()">CANCELAR</button>
            </div>
        </div>
    </div>
</div>