
$white:#ffffff;
$black: #000000;

$background-main:#fd423d;
$background-main-2: #222222;
//Login
$white-login:#cdcdcd;
$background-login-form:#020202;
$background-login-form-right:#323232;
$background-login-button:#fd423d;

//Header
$background-header: #020202;

//Catalogo
$background-catalogo-button-function: #4a4d52;
$background-catalogo-button-icon-function: #fd423d;

$background-catalogo-button-agregar: #fd423d;

//Paginacion
$background-pagination: #e7e7e7;
$background-active-pagination:#fd423d;
$color-pagination: rgba(0,0,0,.5);
$color-pagination-hover: #fd423d;
$color-active-pagination:#fff;

//Modal
$background-modal: rgba(0,0,0,.7);
$background-button-aceptar-modal: #fd423d;
$background-button-cancel-modal: #000000;