/*-----------------------------------------------Mobile-----------------------------------------------*/


/*alto*/
$height-header-mobile:80px;
/*ancho iconos*/
$width-icon-menu-mobile:14px;
$width-icon-user-mobile:16px;
/*tamaño de letras*/
$font-size-title-header-mobile:15px;
$font-size-user-header-mobile:12px;
/*-----------------------------------------------DESKTOP-----------------------------------------------*/

/*alto*/
$height-header-desktop:60px;
/*ancho iconos*/
$width-icon-menu-desktop:18px;
$width-icon-user-desktop:20px;
/*tamaño de letras*/
$font-size-title-header-desktop:18px;
$font-size-user-header-desktop:14px;