<div class="wrapPedido">
    <div class="title">
        <h2>PEDIDO</h2>
    </div>
    <div class="contentPedido">
        <div class="pedido">
            <div class="title">
                <p>Mesa 1</p>
            </div>
            <ul class="platos">
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <!-- <div class="tacha">
                                    <div class="linea linea-1"></div>
                                    <div class="linea linea-2"></div>
                                </div> -->
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
            <div class="time">
                <p>Tiempo de espera</p>
                <p>3:50</p>
            </div>
            <div class="button">
                <button>TERMINADO</button>
            </div>
        </div>
        <div class="pedido">
            <div class="title">
                <p>Mesa 2</p>
            </div>
            <ul class="platos">
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                    <div class="observacion">
                        <textarea name="" id="" cols="30" rows="1"></textarea>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
            <div class="time">
                <p>Tiempo de espera</p>
                <p>0:05</p>
            </div>
            <div class="button">
                <button>TERMINADO</button>
            </div>
        </div>
        <div class="pedido">
            <div class="title">
                <p>Mesa 1</p>
            </div>
            <ul class="platos">
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
            <div class="time">
                <p>Tiempo de espera</p>
                <p>3:50</p>
            </div>
            <div class="button">
                <button>TERMINADO</button>
            </div>
        </div>
        <div class="pedido">
            <div class="title">
                <p>Mesa 1</p>
            </div>
            <ul class="platos">
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
            <div class="time">
                <p>Tiempo de espera</p>
                <p>3:50</p>
            </div>
            <div class="button">
                <button>TERMINADO</button>
            </div>
        </div>
        <div class="pedido">
            <div class="title">
                <p>Mesa 1</p>
            </div>
            <ul class="platos">
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
            <div class="time">
                <p>Tiempo de espera</p>
                <p>3:50</p>
            </div>
            <div class="button">
                <button>TERMINADO</button>
            </div>
        </div>
        <div class="pedido">
            <div class="title">
                <p>Mesa 1</p>
            </div>
            <ul class="platos">
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li class="plato">
                    <div class="general">
                        <p class="title">Plato 1</p>
                        <div class="price">S/. 20.00</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li>
                                <p>Pan</p>
                                <p>10 gr</p>
                            </li>
                            <li>
                                <p>Queso</p>
                                <p>5 gr</p>
                            </li>
                            <li class="no-ingrediente">
                                <p>Tomate</p>
                                <p>5 gr</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
            <div class="time">
                <p>Tiempo de espera</p>
                <p>3:50</p>
            </div>
            <div class="button">
                <button>TERMINADO</button>
            </div>
        </div>
    </div>
</div>