<div class="wrapPedido">
    <div class="title">
        <h2>PEDIDO</h2>
    </div>
    <div class="contentPedido">
        <div class="pedido" *ngFor="let ped of pedidos">
            <div class="title">
                <p>{{ ped.nomMesa }}</p>
            </div>
            <ul class="platos">
                <li class="plato" *ngFor="let plato of ped.detallePedidos">
                    <div class="general">
                        <p class="title">{{ plato.nomPlato }}</p>
                        <div class="price">{{ plato.precio | currency: 'S/. ' }}</div>
                    </div>
                    <div class="especificaciones">
                        <ol class="ingrediente">
                            <li *ngFor="let ingrediente of plato.detallePedidoPersonalizados" [ngClass]="{'no-ingrediente':ingrediente.flagRequerido === 0}">
                                <p>{{ ingrediente.nomProducto }}</p>
                                <p>{{ ingrediente.cantidad + " " + ingrediente.abrMedida }}</p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>
            <div class="time">
                <p>Tiempo de espera</p>
                <p>3:50</p>
            </div>
            <div class="button">
                <button class="btn-success" (click)="terminarPedido(ped)">TERMINADO</button>
                <button class="btn-delete" (click)="cancelarPedido(ped)">CANCELAR</button>
            </div>
        </div>
    </div>
</div>