<div class="wrapper" id="app">
  <div class="card-form">
    <div class="card-list">
      <div class="card-item" [ngClass]="{ '-active' : isCardFlipped }">
        <div class="card-item__side -front">
          <div class="card-item__focus" [ngClass]="{'-active' : focusElementStyle }" [ngStyle]="focusElementStyle" ref="focusElement"></div>
          <!-- <div class="card-item__focus" v-bind:class="{'-active' : focusElementStyle }" v-bind:style="focusElementStyle" ref="focusElement"></div> -->
          <div class="card-item__cover">
            <img
            [src]="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
          </div>
          
          <div class="card-item__wrapper">
            <div class="card-item__top">
              <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png" class="card-item__chip">
              <div class="card-item__type">
                <div name="slide-fade-up">
                  <img [src]="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType() + '.png'" *ngIf="getCardType()" v-bind:key="getCardType()" alt="" class="card-item__typeImg">
                </div>
              </div>
            </div>
            <label for="cardNumber" class="card-item__number" ref="cardNumber">
              <div *ngIf="getCardType() === 'amex'" class="content-card-numbers">
                <span *ngFor="let n of amexCardMaskArray; let index = index">
                  <div name="slide-fade-up">
                    <div
                      class="card-item__numberItem"
                      *ngIf="index > 4 && index < 14 && cardNumber.length > index && n.trim() !== ''">*</div>
                    <div class="card-item__numberItem"
                      [ngClass]="{ '-active': n.trim() === '' }"
                      *ngIf="cardNumber.length > index">
                      {{ cardNumber[index] }}
                    </div>
                    <div class="card-item__numberItem"
                      [ngClass]="{ '-active': n.trim() === '' }"
                      *ngIf="cardNumber.length <= index">
                      {{ n }}
                    </div>

                  </div>
                  
                </span>
              </div>

              <div *ngIf="getCardType() !== 'amex'" class="content-card-numbers">
                <span *ngFor="let n of otherCardMaskArray; let index = index">
                  <div name="slide-fade-up">
                    <div class="card-item__numberItem" *ngIf="index > 4 && index < 15 && cardNumber.length > index && n.trim() !== ''">*</div>
                    <div class="card-item__numberItem" [ngClass]="{ '-active' : n.trim() === '' }" *ngIf="(index <= 4 || index >= 15) && cardNumber.length > index || cardNumber[index] === ' '">{{cardNumber[index]}} </div>
                    <div class="card-item__numberItem" [ngClass]="{ '-active' : n.trim() === '' }" *ngIf="cardNumber.length <= index">{{n}}</div>
                  </div>
                </span>
              </div>
            </label>
            <div class="card-item__content">
              <label for="cardName" class="card-item__info" ref="cardName">
                <div class="card-item__holder">Titular</div>
                <div name="slide-fade-up">
                  <div class="card-item__name" *ngIf="cardName.length > 0" key="1">
                    <div name="slide-fade-right">
                      <span class="card-item__nameItem" *ngFor="let n of returnTextArray(cardName)">{{n}}</span>
                    </div>
                  </div>
                  <div class="card-item__name" *ngIf="cardName.length === 0" key="2">#######</div>
                </div>
              </label>

              <div class="card-item__date" ref="cardDate">
                <label for="cardMonth" class="card-item__dateTitle">Expira</label>
                <label for="cardMonth" class="card-item__dateItem">
                  <span *ngIf="cardMonth.length > 0">{{cardMonth}}</span>
                  <span *ngIf="cardMonth.length === 0">MM</span>
                </label>
                <label>/</label>
                <label for="cardYear" class="card-item__dateItem">
                  <span *ngIf="cardYear.length > 0">{{ returnFecha(cardYear) }}</span>
                  <span *ngIf="cardYear.length === 0" >YY</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-item__side -back">
          <div class="card-item__cover">
            <img [src]="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
          </div>
          <div class="card-item__band"></div>
          <div class="card-item__cvv">
              <div class="card-item__cvvTitle">CVV</div>
              <div class="card-item__cvvBand">
                <span *ngFor="let n of returnTextArray(cardCvv)" >
                  *
                </span>

            </div>
              <div class="card-item__type">
                  <img [src]="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType() + '.png'" *ngIf="getCardType()" class="card-item__typeImg">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-form__inner">
      <div class="card-input">
        <label for="cardNumber" class="card-input__label">Numero Tarjeta</label>
        <input type="text" id="cardNumber" class="card-input__input" [(ngModel)]="cardNumber" [maxlength]="cardNumberMaxLength" (input)="changeNumber($event)" (keypress)="onKeyPressSomeNumber($event)" (focus)="focusInput($event)" (blur)="blurInput()" data-ref="cardNumber" autocomplete="off">
      </div>
      <div class="card-input">
        <label for="cardName" class="card-input__label">Titular</label>
        <input type="text" id="cardName" class="card-input__input" [(ngModel)]="cardName" (focus)="focusInput($event)" (blur)="blurInput()" data-ref="cardName" autocomplete="off">
      </div>
      <div class="card-form__row">
        <div class="card-form__col">
          <div class="card-form__group">
            <label for="cardMonth" class="card-input__label">Fecha Expiracion</label>
            <select class="card-input__input -select" id="cardMonth" [(ngModel)]="cardMonth" (focus)="focusInput($event)" (blur)="blurInput()" data-ref="cardDate">
              <option value="" disabled selected>Month</option>
              <option *ngFor="let n of qtyMes" [value]="n < 10 ? '0' + n : n" [disabled]="n < minCardMonth()">
                  {{n < 10 ? '0' + n : n}}
              </option>
            </select>
            <select class="card-input__input -select" id="cardYear" [(ngModel)]="cardYear" (focus)="focusInput($event)" (blur)="blurInput()" data-ref="cardDate">
              <option value="" disabled selected>Year</option>
              <option *ngFor="let n of qtyMes; let index = index" [value]="index + minCardYear">
                  {{index + minCardYear}}
              </option>
            </select>
          </div>
        </div>
        <div class="card-form__col -cvv">
          <div class="card-input">
            <label for="cardCvv" class="card-input__label">CVV</label>
            <input type="text" class="card-input__input" id="cardCvv" v-mask="'####'" maxlength="4" [(ngModel)]="cardCvv" (keypress)="onKeyPressSomeNumber($event)" (focus)="flipCard(true)" (blur)="flipCard(false)" autocomplete="off">
          </div>
        </div>
      </div>

      <button class="card-form__button" (click)="btnPagar()">PAGAR</button>
    </div>
  </div>
</div>