.container{
    display: none;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.466);
    .loading{
        font-family: Manjari;
        font-size:40px ;
        //  background-image: url("../../../../assets/images/cargando-xd.gif");
    }
}